name: Run pytest

on:
  pull_request:

concurrency:
  group: pytest-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405
        with:
          python-version: '3.12'

      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b
        with:
          enable-cache: true
          cache-dependency-glob: "src/python/requirements-dev.txt"

      - name: Install dependencies
        run: |
          uv venv
          uv pip install -r src/python/requirements-dev.txt

      - name: Run tests
        run: uv run pytest tests/python/ -v
